<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816211842699-mcq91sfu5an9v2p38dmre00ccf9t6npt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816211842699-mcq91sfu5an9v2p38dmre00ccf9t6npt</string>
	<key>API_KEY</key>
	<string>AIzaSyDW1iF3Ow5GOVO_QpfoKu5n2HFtNreawtM</string>
	<key>GCM_SENDER_ID</key>
	<string>816211842699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Murmeko.Countries</string>
	<key>PROJECT_ID</key>
	<string>countries-b85d7</string>
	<key>STORAGE_BUCKET</key>
	<string>countries-b85d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816211842699:ios:b25bff93e8ffa85081268e</string>
</dict>
</plist>